body {
  text-align: center;
  background: #351f1b;
  color: wheat;
  font-family: 'Press Start 2P', cursive;
}

button {
  color: white;
  background-color: rgb(68, 3, 3);
  font-family: 'Press Start 2P', cursive;
}

table {
  text-align: center;
  align-items: center;
}

td,
th {
  border-right: wheat solid 3px;
}
